.mapped {
  display: inline-grid;
  /* display: inline-grid; */
}

/* .mapped img {
  width: 400px;
  gap: 50px;
} */
img {
  width: 300px;
}
.title-movies {
  padding: 15px;
  font-style: italic;
  font-weight: bold;
  /* background-color: blue; */
}

img:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}

.input-movies {
  position: absolute;
  top: -130px;
  right: 150px;
  width: 500px;
  height: 40px;
  margin: 150px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
  color: white;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10vh;
  background-color: white;
  /* margin-bottom: 2.5px; */
}
/* .pagination-movement {
  display: flex;
  align-items: center;
} */
