.App {
  text-align: center;
}

.nav {
  text-align: right;
}
.movie-series-btn {
  text-decoration: none;
  color: white;
  margin: 15px;
}

.search-bar {
  display: flex;
  justify-content: center;
}
